body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a; 
    overflow: scroll-y;
  }
  


.header,
.about {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 700px; 
}

.header {
    top: 30%;
}

.about {
    top: 43%;
}

  header {
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .wave-emoji {
    animation: wave 2s infinite;
    display: inline-block;
    transform-origin: 70% 70%;
    margin-left: 5px;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: rotate(0deg);
    }
    25%, 75% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
  
  header h2 {
    font-size: 1.5em;
    margin-top: 10px;
    display: inline-block;
    color: #fff; 
  }
  
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  section {
    padding: 50px 0;
    color: #fff;
    display: block; 
  }
  

  
  p {
    line-height: 1.6;
    max-width: 700px;
  }

  .social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links i {
    margin-bottom: 5px;
  }

  #scroll-down {
    text-align: center;
    margin-top: 500px; 
  }
  
  .arrow-container {
    position: relative;
    animation: bounce 2s infinite; 
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .arrow-container a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .arrow-container i {
    margin-top: 5px;
    padding-bottom: 200px;
  }
  
  #experiences h2 {
    text-align: left;
    
    margin-left: 10.5%;
    font-size: 2.0em;
  }
  
  
  
  .experience {
    width: calc(80% - 20px); 
    display: flex;
    flex-direction: column;
    border: 2px solid #34495e;
    margin: 20px auto;
    cursor: pointer;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    
  }

  .experience:hover{

    border: 2px solid #fff;
  }
  
  .experience-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
  }
  
  .left-section {
    padding: 20px;
    text-align: left;

  }
  
  .right-section {
    padding: 20px;
    text-align: right;

    color: #fff;
    font-size: 1.2em;
  }
  
  .experience-description {
    color: #bdc3c7;
    font-size: 1em;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: left;
  }
  .experience-duration{
    color: #bdc3c7;
    font-size: 0.8em;
    font-style: italic;
  }
  
  .experience-title {
    color: #fff;
    font-size: 1.2em;
  }
  
  .experience-icon {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  

  #projects h2{
    text-align: left;
    margin-left: 8.5%;
    font-size: 2.0em;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project-card {
    width: calc(20% - 20px);
    border: 2px solid #34495e;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover {

    border: 2px solid #fff;
  }
  
  .project-card h3 {
    color: #ecf0f1;
    margin-bottom: 5px;
    font-size: 1em;
  }

  .project-card a i{
    color: #fff;
  }
  
  .project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-content p {
    flex-grow: 1;
    color: #bdc3c7;
    font-size: 0.8em;
  }
  
  .footer-bar {
    height: 2px;
    background-color: #bdc3c7;
    margin-left: 8.5%;
    margin-right: 8.5%;
  }
  
  .copyright {
    display: flex;
    justify-content: space-between;
    margin-left: 8.5%;
    color: #bdc3c7;
  }
  
  .social-links {
    display: flex;
    margin-right: 9.5%;
  }
  
  .social-links a {
    margin-left: 10px; 
    color: #bdc3c7; 
  }
  
  
  @media only screen and (max-width: 600px){
    .about {
      top: 49%;
      
    }

    .project-card{
      width: calc(80% - 20px);
      margin-right: 0;
    }

    .experience-description {
      padding-right: 20px;
    
    }
  
  }
  
  @media only screen and (max-width: 355px){
    .header{
      top: 10%;
    }
    
    .about {
      top: 35%;
      
    }
  
  }
